/* Set html and body to take up full height of the viewport, remove default margin and padding */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style for the main container: fixed position to cover the entire viewport */
#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Style for the app container: full width and height, flex display for layout */
#app {
  width: 100%;
  height: 100%;
  display: flex;
}
