@use "./variables" as *;
@use "./mixins" as *;

.footer {
  color: $text-dark;
  text-align: center;
  padding: 20px 0;

  // Scope container styles only to direct children within the footer.
  > .container {
    max-width: $max-width;
    margin: 0 auto;
  }

  p {
    font-size: 1rem;
  }
}
